/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); */

body, html {
  margin: 0;

  color: #ffffff; /* Ensures text is readable on darker backgrounds */
  background: #0B3D91 !important; /* Dark blue background */
  overflow-x: hidden;
}

.cursive-text {
  font-family: 'Pacifico', cursive; /* Example of a cursive font */
}

