.map-section, .online-zoom-section {
  padding: 2rem;
  background-color: #4A148C;
  color: #FFFFFF;
  border-radius: 30px;
}

.map-container, .online-zoom-container {
  width: 100%;
  height: 400px;
}

